<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="<%= styles_src %>">
</head>

<body>
    <main>
        <div class="container">
            <section class="speed">
                <p>Скорость: <span class="current-speed"></span>
                    <span class="btn speed-up">+</span>
                    <span class="btn speed-down">-</span>
                </p>
            </section>
            <div class="wrapper">
                <canvas id="canvas"></canvas>
            </div>
            <section class="navigation-info">
                <p>
                    <code>"Пробел"</code> - старт / пауза
                </p>
            </section>
        </div>
    </main>
    <script src="<%= script_src %>"></script>
</body>

</html>